.home {
    display: flex;
    flex-direction: column;
    width: 100%;

    .hero {
        height: 80vh;
        background-color: $white-color;
    }

    .motto {
        min-height: 400px;
        background-color: $white-color;

        .section {
            min-height: 380px;
            background-color: $primary-color;
            border-radius: 50% 0 50% 0/50% 0 50% 0;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            color: $white-color;
            font-weight: $font-weight-bold;
        }

    }

    .contents {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        text-align: center;

        .welcome {
            font-size: 3rem;
            font-weight: $font-weight-bold;
        }
    }

    .features {
        padding: 2rem;

        .feature {
            background-color: $white-color;
            height: 300px;
            padding: 1rem;
            border-radius: 1rem;
        }
    }

}