.home {
    display: flex;
    flex-direction: column;
    width: 100%;

    .hero {
        height: 80vh;
        background-color: $white-color;
    }

    .motto {
        min-height: 400px;
        background-color: $white-color;

        .section {
            min-height: 380px;
            background-color: $primary-color;
            border-radius: 50% 0 50% 0/50% 0 50% 0;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            color: $white-color;
            font-weight: $font-weight-bold;
        }

    }

    .contents {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        text-align: center;

        .welcome {
            font-size: 3rem;
            font-weight: $font-weight-bold;
        }
    }

    .features {
        margin-top: 1rem;

        .feature {
            background-color: $white-color;
            height: 230px;
            padding: 1rem;
            border-radius: 1rem;
            margin: 1rem 0;

            &:hover {
                box-shadow: 0px 0px 5px rgba(0, 0, 255, 0.1);
            }

            span {
                padding: 3px;
                font-size: $title-font-size;
                font-family: $font-family;
                color: $disabled-text-color;
            }

            .title {
                font-size: $title-font-size;
                color: $disabled-text-color;
                text-decoration: underline;
                padding: .8rem;
            }

            .icon {
                padding: 1px;

                i {
                    font-size: 60px;
                    color: $primary-color;
                    cursor: pointer;
                }
            }

        }
    }

}